# vim temp
*~

# vim swap
*.sw?

# env
.env

# environment
.idea
.venv

# cache
__pycache__/
.ruff_cache/

# latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz*
*.toc
*.xdv

# claude
.claude
